<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320709830380-r7bba9mg7sadihejt05h6r5adoo5hf8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320709830380-r7bba9mg7sadihejt05h6r5adoo5hf8f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>320709830380-eeh4f4h2dttnut5nadrvdhv5ork88ia6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRCDtoDwueh9MZVxk2zAWzk2QxIMSV1m8</string>
	<key>GCM_SENDER_ID</key>
	<string>320709830380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.casillassportsapps.My-Track-And-Field-Team</string>
	<key>PROJECT_ID</key>
	<string>my-track-and-field-team-c3892</string>
	<key>STORAGE_BUCKET</key>
	<string>my-track-and-field-team-c3892.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320709830380:ios:05544f3554a232fd51e7c9</string>
	<key>DATABASE_URL</key>
	<string>https://my-track-and-field-team-c3892.firebaseio.com</string>
</dict>
</plist>